<div class="well">
    <h1 translate="EXPERIMENT">Experiment</h1>
    <dl class="dl-horizontal">
        <dt translate="NAME">Name</dt>
        <dd>{{parentExperiment.name}}</dd>
        <dt translate="DESCRIPTION">Description</dt>
        <dd>{{parentExperiment.description}}</dd>
        <dt translate="START_TIME">Start time</dt>
        <dd>{{parentExperiment.start | date:dateFormat}}</dd>
        <dt translate="END_TIME">End time</dt>
        <dd>{{parentExperiment.end | date:dateFormat}}</dd>
    </dl>
</div>

<tabset justified="true">
    <tab heading="{{'NODES'| translate}}">
        <div class="panel panel-default">
            <form novalidate class="panel-body form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-3 form-group">
                        <label for="externalId">ID</label>
                        <input id="externalId" class="form-control" type="text"
                               ng-model="nodesSearchFilter.externalId" ng-model-options="{debounce: 300}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="name" translate="NAME">Name</label>
                        <input id="name" class="form-control" type="text"
                               ng-model="nodesSearchFilter.name" ng-model-options="{debounce: 300}"/>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="description" translate="DESCRIPTION">Description</label>
                        <input id="description" class="form-control" type="text"
                               ng-model="nodesSearchFilter.description" ng-model-options="{debounce: 300}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 form-group">
                        <cepv-date-time-form title="ADDITION_TIME_FROM" search-filter-field="nodesSearchFilter.gtAdditionTime"></cepv-date-time-form>
                    </div>
                    <div class="col-md-6 form-group">
                        <cepv-date-time-form title="ADDITION_TIME_TO" search-filter-field="nodesSearchFilter.ltAdditionTime"></cepv-date-time-form>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 form-group">
                        <cepv-date-time-form title="REMOVAL_TIME_FROM" search-filter-field="nodesSearchFilter.gtRemovalTime"></cepv-date-time-form>
                    </div>
                    <div class="col-md-6 form-group">
                        <cepv-date-time-form title="REMOVAL_TIME_TO" search-filter-field="nodesSearchFilter.ltRemovalTime"></cepv-date-time-form>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-1">
                        <cepv-sorting-header header="nodeExternalId" title="ID"
                                             column="nodesSorting.column"
                                             is-desc="nodesSorting.isDesc">
                        </cepv-sorting-header>
                    </th>
                    <th class="col-md-2">
                        <cepv-sorting-header header="nodeName" title="NAME"
                                             column="nodesSorting.column"
                                             is-desc="nodesSorting.isDesc">
                        </cepv-sorting-header>
                    </th>
                    <th class="col-md-4">
                        <cepv-sorting-header header="nodeDescription" title="DESCRIPTION"
                                             column="nodesSorting.column"
                                             is-desc="nodesSorting.isDesc">
                        </cepv-sorting-header>
                    </th>
                    <th class="col-md-2">
                        <cepv-sorting-header header="additionTime" title="ADDITION_TIME"
                                             column="nodesSorting.column"
                                             is-desc="nodesSorting.isDesc">
                        </cepv-sorting-header>
                    </th>
                    <th class="col-md-2">
                        <cepv-sorting-header header="removalTime" title="REMOVAL_TIME"
                                             column="nodesSorting.column"
                                             is-desc="nodesSorting.isDesc">
                        </cepv-sorting-header>
                    </th>
                    <th class="col-md-1" translate="ACTION">Action</th>
                </thead>
                <tbody>
                <tr ng-repeat="experiment2Node in experiment2Nodes">
                    <td ng-bind="experiment2Node.embeddedNode.externalId"></td>
                    <td ng-bind="experiment2Node.embeddedNode.name"></td>
                    <td ng-bind="experiment2Node.embeddedNode.description"></td>
                    <td>{{experiment2Node.additionTime | date:dateFormat}}</td>
                    <td>{{experiment2Node.removalTime | date:dateFormat}}</td>
                    <td>
                        <a ui-sref="queries">
                            <button type="button" class="btn btn-default" aria-label="true" ng-click="setParentNode(experiment2Node)">
                                <i class="fa fa-code"></i> {{'QUERIES' | translate}}
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center" ng-show="nodesPagination.totalItems > nodesPagination.pageSize">
            <pagination total-items="nodesPagination.totalItems" ng-model="nodesPagination.currentPage"
                        items-per-page="nodesPagination.pageSize" max-size="10" previous-text="{{'PREVIOUS' | translate}}"
                        next-text="{{'NEXT' | translate}}" ng-change="getFilteredExperiment2NodeRelations()">
            </pagination>
        </div>
    </tab>
    <tab heading="{{'NODE_CONNECTIONS'| translate}}">
        <div class="panel panel-default">
            <form novalidate class="panel-body form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-2 form-group">
                        <label for="firstNodeExternalId" translate="FIRST_NODE_ID">First Node ID</label>
                        <input id="firstNodeExternalId" class="form-control" type="text"
                               ng-model="nodeConnectionsSearchFilter.firstNodeExternalId"
                               ng-model-options="{debounce: 300}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="firstNodeName" translate="FIRST_NODE_NAME">First Node Name</label>
                        <input id="firstNodeName" class="form-control" type="text"
                               ng-model="nodeConnectionsSearchFilter.firstNodeName"
                               ng-model-options="{debounce: 300}"/>
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="secondNodeExternalId" translate="SECOND_NODE_ID">Second Node ID</label>
                        <input id="secondNodeExternalId" class="form-control" type="text"
                               ng-model="nodeConnectionsSearchFilter.secondNodeExternalId"
                               ng-model-options="{debounce: 300}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="secondNodeName" translate="SECOND_NODE_NAME">Second Node Name</label>
                        <input id="secondNodeName" class="form-control" type="text"
                               ng-model="nodeConnectionsSearchFilter.secondNodeName"
                               ng-model-options="{debounce: 300}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 form-group">
                        <cepv-date-time-form title="CONNECTION_TIME_FROM" search-filter-field="nodeConnectionsSearchFilter.gtConnectionTime"></cepv-date-time-form>
                    </div>
                    <div class="col-md-6 form-group">
                        <cepv-date-time-form title="CONNECTION_TIME_TO" search-filter-field="nodeConnectionsSearchFilter.ltConnectionTime"></cepv-date-time-form>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 form-group">
                        <cepv-date-time-form title="DISCONNECTION_TIME_FROM" search-filter-field="nodeConnectionsSearchFilter.gtDisconnectionTime"></cepv-date-time-form>
                    </div>
                    <div class="col-md-6 form-group">
                        <cepv-date-time-form title="DISCONNECTION_TIME_TO" search-filter-field="nodeConnectionsSearchFilter.ltDisconnectionTime"></cepv-date-time-form>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-2">
                        <cepv-sorting-header header="firstNodeExternalId" title="FIRST_NODE_ID"
                                             column="nodeConnectionsSorting.column"
                                             is-desc="nodeConnectionsSorting.isDesc">
                        </cepv-sorting-header>
                    </th>
                    <th class="col-md-2">
                        <cepv-sorting-header header="firstNodeName" title="FIRST_NODE_NAME"
                                             column="nodeConnectionsSorting.column"
                                             is-desc="nodeConnectionsSorting.isDesc">
                        </cepv-sorting-header>
                    </th>
                    <th class="col-md-2">
                        <cepv-sorting-header header="secondNodeExternalId" title="SECOND_NODE_ID"
                                             column="nodeConnectionsSorting.column"
                                             is-desc="nodeConnectionsSorting.isDesc">
                        </cepv-sorting-header>
                    </th>
                    <th class="col-md-2">
                        <cepv-sorting-header header="secondNodeName" title="SECOND_NODE_NAME"
                                             column="nodeConnectionsSorting.column"
                                             is-desc="nodeConnectionsSorting.isDesc">
                        </cepv-sorting-header>
                    </th>
                    <th class="col-md-2">
                        <cepv-sorting-header header="connectionTime" title="CONNECTION_TIME"
                                             column="nodeConnectionsSorting.column"
                                             is-desc="nodeConnectionsSorting.isDesc">
                        </cepv-sorting-header>
                    </th>
                    <th class="col-md-2">
                        <cepv-sorting-header header="disconnectionTime" title="DISCONNECTION_TIME"
                                             column="nodeConnectionsSorting.column"
                                             is-desc="nodeConnectionsSorting.isDesc">
                        </cepv-sorting-header>
                    </th>
                </thead>
                <tbody>
                <tr ng-repeat="node2Node in node2Nodes">
                    <td ng-bind="node2Node.embeddedFirstNode.externalId"></td>
                    <td ng-bind="node2Node.embeddedFirstNode.name"></td>
                    <td ng-bind="node2Node.embeddedSecondNode.externalId"></td>
                    <td ng-bind="node2Node.embeddedSecondNode.name"></td>
                    <td>{{node2Node.connectionTime | date:dateFormat}}</td>
                    <td>{{node2Node.disconnectionTime | date:dateFormat}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center" ng-show="nodeConnectionsPagination.totalItems > nodeConnectionsPagination.pageSize">
            <pagination total-items="nodeConnectionsPagination.totalItems" ng-model="nodeConnectionsPagination.currentPage"
                        items-per-page="nodeConnectionsPagination.pageSize" max-size="10" previous-text="{{'PREVIOUS' | translate}}"
                        next-text="{{'NEXT' | translate}}" ng-change="getFilteredNodeConnections()">
            </pagination>
        </div>
    </tab>
    <tab heading="{{'NODE_CONNECTIONS_VISUALISATION'| translate}}">

        <div class="panel panel-default">
            <form novalidate class="panel-body form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-6 form-group">
                        <cepv-date-time-form title="CONNECTION_TIME_FROM" search-filter-field="nodeConnectionsGraphSearchFilter.gtConnectionTime"></cepv-date-time-form>
                    </div>
                    <div class="col-md-6 form-group">
                        <cepv-date-time-form title="CONNECTION_TIME_TO" search-filter-field="nodeConnectionsGraphSearchFilter.ltConnectionTime"></cepv-date-time-form>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 form-group">
                        <cepv-date-time-form title="DISCONNECTION_TIME_FROM" search-filter-field="nodeConnectionsGraphSearchFilter.gtDisconnectionTime"></cepv-date-time-form>
                    </div>
                    <div class="col-md-6 form-group">
                        <cepv-date-time-form title="DISCONNECTION_TIME_TO" search-filter-field="nodeConnectionsGraphSearchFilter.ltDisconnectionTime"></cepv-date-time-form>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <cepv-node-connections-graph data="nodeConnectionsGraphData"></cepv-node-connections-graph>
            </div>
        </div>
    </tab>
</tabset>