<!DOCTYPE html>
<html ng-app="cepVisualiser">
<head lang="en">
    <meta charset="UTF-8">
    <title>CEP Visualiser</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="css/vendor.css"/>
</head>
<body ng-controller="TranslationController">
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="experiments">CEP Visualiser</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a ui-sref="about" translate="ABOUT">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="changeLanguage('en')" href="#">EN</a></li>
                <li><a ng-click="changeLanguage('cz')" href="#">CZ</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div ui-view></div>
</div>

<script type="text/javascript" src="vendor.js"></script>
<script type="text/javascript" src="scripts.js"></script>

</body>
</html>