<div class="row well">
    <div class="col-md-6">
        <h1 translate="EXPERIMENT">Experiment</h1>
        <dl class="dl-horizontal">
            <dt translate="NAME">Name</dt>
            <dd>{{parentExperiment.name}}</dd>
            <dt translate="DESCRIPTION">Description</dt>
            <dd>{{parentExperiment.description}}</dd>
            <dt translate="START_TIME">Start time</dt>
            <dd>{{parentExperiment.start | date:dateFormat}}</dd>
            <dt translate="END_TIME">End time</dt>
            <dd>{{parentExperiment.end | date:dateFormat}}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <h1 translate="NODE">Node</h1>
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>{{parentNode.embeddedNode.externalId}}</dd>
            <dt translate="NAME">Name</dt>
            <dd>{{parentNode.embeddedNode.name}}</dd>
            <dt translate="DESCRIPTION">Description</dt>
            <dd>{{parentNode.embeddedNode.description}}</dd>
        </dl>
    </div>
</div>

<h3 translate="QUERIES">Queries</h3>
<div class="panel panel-default">
    <form novalidate class="panel-body" class="form-horizontal" role="form">
        <div class="col-md-6 form-group">
            <cepv-date-time-form title="DEPLOYMENT_TIME_FROM"
                                 search-filter-field="searchFilter.gtDeployment"></cepv-date-time-form>
        </div>
        <div class="col-md-6 form-group">
            <cepv-date-time-form title="DEPLOYMENT_TIME_TO"
                                 search-filter-field="searchFilter.ltDeployment"></cepv-date-time-form>
        </div>
    </form>
</div>

<hr/>

<div class="list-group list">
    <div ng-repeat="query in queries" class="list-group-item query-list-item">
        <dl class="dl-horizontal">
            <dt translate="CONTENT">Content</dt>
            <dd>
                <pre>{{query.content}}</pre>
            </dd>
            <dt translate="DEPLOYMENT_TIME">Deployment time</dt>
            <dd>{{query.deploymentTime | date:dateFormat}}</dd>
        </dl>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="" ng-click="isAttrPanelCollapsed = !isAttrPanelCollapsed">{{'ATTRIBUTES' |
                                translate}}</a>
                        </h4>
                    </div>
                    <div collapse="isAttrPanelCollapsed">
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <div ng-repeat="queryAttribute in query.queryAttributes">
                                    <dt>{{queryAttribute.key}}</dt>
                                    <dd>{{queryAttribute.value}}</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <cepv-executions-refresh-panel query="query"></cepv-executions-refresh-panel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="button-detail" ui-sref="queryDetail">
                    <button type="button" class="btn btn-default" aria-label="true" ng-click="setParentQuery(query)">
                        <i class="fa fa-search"></i> {{'DETAIL' | translate}}
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="text-center" ng-show="pagination.totalItems > pagination.pageSize">
    <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage"
                items-per-page="pagination.pageSize" max-size="10" previous-text="{{'PREVIOUS' | translate}}"
                next-text="{{'NEXT' | translate}}" ng-change="getFilteredQueries()">
    </pagination>
</div>


