<div class="well" ng-controller="QueryController">
    <h1>Node</h1>
    <dl class="dl-horizontal">
        <dt>#</dt>
        <dd>{{parentNode.externalId}}</dd>
        <dt>Name</dt>
        <dd>{{parentNode.name}}</dd>
        <dt>Description</dt>
        <dd>{{parentNode.description}}</dd>
    </dl>
</div>

<h1>Queries</h1>
<form>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <label for="content" class="control-label">Content</label>
                <input id="content" type="text" class="form-control" placeholder="Search for content ...">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <label for="gtDT" class="control-label">Deployment time minimum</label>
                <input id="gtDT" type="text" class="form-control" placeholder="Greater than ...">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <label for="ltDT" class="control-label">Deployment time maximum</label>
                <input id="ltDT" type="text" class="form-control" placeholder="Less than ...">
            </div>
        </div>
    </div>
</form>

<hr/>

<div class="list-group">
    <div ng-repeat="query in queries" class="list-group-item">
        <dl class="dl-horizontal">
            <dt>Deployment time</dt>
            <dd>{{query.deploymentTime | date:'dd.MM.yyyy HH:mm:ss:sss'}}</dd>
            <dt>Content</dt>
            <dd>
                <pre>{{query.content}}</pre>
            </dd>
        </dl>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a ng-click="isAttrPanelCollapsed = !isAttrPanelCollapsed">Query Attributes</a>
                        </h4>
                    </div>
                    <div class="panel-body" collapse="isAttrPanelCollapsed">
                        <dl class="dl-horizontal">
                            <div ng-repeat="queryAttribute in query.queryAttributes">
                                <dt>{{queryAttribute.key}}</dt>
                                <dd>{{queryAttribute.value}}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a ng-click="isExecPanelCollapsed = !isExecPanelCollapsed">Executions</a>
                        </h4>
                    </div>
                    <div class="panel-body" collapse="isExecPanelCollapsed">
                        <ol>
                            <li ng-repeat="queryExecution in query.queryExecutions">
                                {{queryExecution.executionTime | date:'dd.MM.yyyy HH:mm:ss:sss'}}
                            </li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<nav>
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</nav>


